body {
  --bg: #ffffff;
  --text: #000000;
  --box-bg: #ffffff;
  background-color: var(--bg);
  color: var(--text);
}

body[data-theme="dark"] {
  --bg: #000000;
  --text: #f0f0f0;
  --box-bg: #171313;
}

.kpi-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  /* margin-bottom: 1rem; */
}

.kpi-box {
  background-color: var(--box-bg);
  flex: 1 1 0;
  height: 140px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* separate text and graph */
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /* padding: 1rem; */
}

.sparkline-wrapper {
  width: 100%;
  flex-shrink: 0;
  height: 60px; /* slightly larger for visibility */
}

.chart-wrapper {
  height: 85%;
  width: 95%;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  gap: 1rem;
}

.chart-content {
  flex: 1 1 0;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.chart-group {
  height: 100%;
  flex: 0.6 1 0;
}

.right-content {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

@media (max-width: 768px) {
  .chart-group {
    flex: 1 1 100%; /* take full width when stacked */
  }
}
