html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* overflow: hidden; */
}

.kpi-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.kpi-box {
  flex: 1 1 0;
  min-width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sparkline-wrapper,
.chart-wrapper {
  flex: 1; /* keep flex layout */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  aspect-ratio: 3 / 1; /* width:height ratio */
  min-height: 80px;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.left-content {
  flex: 1 1 0;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.chart-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-content {
  flex: 1 1 0;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
